.box1 {
  border: 2px solid white;
  text-align: center;
  padding: 30px;
  background-color: white;
  color: black;
  height: 105px;
  font-size: 23px;

}
.box2 {
  border: 2px solid white;
  text-align: center;
  padding: 30px;
  background-color: #F15A29;
  color: white;
  height: 105px;
  font-size: 23px;
}
.landing {
  height: 600px;
  background-image: url("../mpft-ip/ip2/assets/backgrounds/landing.jpg");
  text-align: center;
  font-size: 30px;
  color: white;
}
.breakfast{
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 90px;
  text-align: center;
  font-size: 23px;
}
.fastbox {
  box-shadow: 10px;
  border: 2px solid white;
  padding: 30px
}
.foodbox {
  padding: 50px
}
#drink2 {
  padding-right: 15px;
}
#drink1 {
  padding-left: 47px;
}
.drinks {
  padding: 50px;
}
.customers{
  border: 2px solid white;
  box-shadow: grey;
  padding: 30px;
  margin: 100px;
}
.email{
  background-image: url("../mpft-ip/ip2/assets/backgrounds/subscribe.jpg");
  height: 300px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 25px;
  padding-top: 100px;
}
.fastfood {
  color: white;
  text-align: center;
  background-image: url("../mpft-ip/ip2/assets/backgrounds/foodsBg.jpg");
  height: 600px;
  padding: 150px;
}
.btn {
  background-color: white;
  color: #F15A29;
  border: 30px solid #F15A29;
}
#email {
  width: 25%;
  opacity: 0.4;
}
.button {
  background-color: #F15A29;
  color: white;
  border: 1px solid #F15A29;
}
.last {
  background-color: #F15A29;
  color: white;
  font-size: 20px;
}
.dash {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 5px 0;
  padding-left: 40px;
}
#dash{
  padding-left: 40px;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: #F15A29;
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
      }
}
.breakfast:hover{
  opacity: 0.3;
  color: black;
  background-color: white;
}
.lunch:hover{
  color: black;
}
